@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

#avatar {
    text-align: center;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
}
#avatar a {
    display: flex;
    flex-direction: column;
    color: #000000;
}
#avatar svg {
    margin: 0 auto;
}
#chefs_tools {
    text-align: center;
    background-color: #EB5428;
}
dd {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#dishes {
    background-color: #7ABFBF;
}
#dishes img {
    position: relative;
    left: 10px;
    width: 25%;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
html {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
menu {
    list-style-type: none;
}
#menu {
    font-family: 'Bebas Neue', sans-serif;
}
menu a {
    font-family: 'Bebas Neue', sans-serif;
    color: #EB5428;
    text-decoration: none;
}
.nav {
    box-shadow: 0 2px 0 0 rgba(10, 10, 10, .08);
}
.rating {
    font-weight: bold;
}
#search input {
    border: 2px solid #EB5428;
}
#search svg {
    background-color: #EB5428;
}
#socials a {
    font-family: 'Bebas Neue', sans-serif;
    color: #EB5428;
}
#socials li {
    padding: 10px;
}
#socials ul{
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
#tools a {
    font-family: 'Bebas Neue', sans-serif;
}

/* SMALL DISPLAYS */
@media screen and (max-width: 490px) {
    #avatar {
        width: 25%;
        height: 4.1em;
    }
    #chefs_tools {
        position: fixed;
        top: 0;
        left: 25%;
        right: 25%;
        height: auto;
    }
    #details {
        transform: translateY(440%);
    }
    h1 {
        text-align: center;
        transform: translateY(275%);
    }
    #hamburger {
        align-items: center;
        background-color: #FFFFFF;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 4.1em;
    }
    #ingredients{
        transform: translateY(70%);
    }
    #main_pic {
        transform: translateY(-20%);
    }
    #main_text {
        transform: translateY(-60%);
    }
    #search {
        display: flex;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 20%;
        right: 20%;
    }
    #search input {
        height: 2em;
        width: 20em;
    }
    #search svg {
        height: 2.39em;
        width: 3.5em;
    }
    #tools {
        text-align: center;
        color: #EB5428;
        transform: translateY(-340%);
    }
}

/* MEDIUM DISPLAYS */
@media screen and (min-width: 491px) and (max-width: 1270px) {
    #avatar {
        right: 5px;
        width: 3em;
        transform: translateY(10%);
    }
    #chefs_tools {
        position: fixed;
        top: 0;
        left: 0;
        width: 4em;
    }
    #details {
        transform: translateY(500%);
    }
    h1 {
        transform: translateY(300%);
    }
    menu {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    #menu {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #menu img {
        display: flex;
        flex-direction: row;
        height: 40px;
        width: auto;
    }
    menu li {
        transform: translateY(110%);
        text-align: center;
        padding: 0 2.1%;
    }
    #hamburger {
        display: none;
    }
    #search {
        justify-content: right;
        display: flex;
        margin: 0 auto;
        position: fixed;
        top: 20px;
        width: 80%;
    }
}

/* LARGE DISPLAYS */
/* @media screen and (min-width: 1271px) {

} */