@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

#avatar {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
}
#avatar a {
    display: flex;
    flex-direction: column;
    color: #000000;
}
#chefs_tools {
    text-align: center;
    background-color: #EB5428;
}
dd {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#dishes {
    background-color: #7ABFBF;
}
#dishes img {
    position: relative;
    left: 10px;
    width: 25%;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
html {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
menu {
    list-style-type: none;
}
#menu {
    font-family: 'Bebas Neue', sans-serif;
}
menu a {
    font-family: 'Bebas Neue', sans-serif;
    color: #EB5428;
    text-decoration: none;
}
.rating {
    font-weight: bold;
}
#socials a {
    font-family: 'Bebas Neue', sans-serif;
    color: #EB5428;
}
#socials li {
    padding: 10px;
}
#socials ul{
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
#tools a {
    font-family: 'Bebas Neue', sans-serif;
}

/* SMALL DISPLAYS */
@media screen and (max-width: 490px) {
    #chefs_tools {
        position: fixed;
        top: 0;
        left: 25%;
        right: 25%;
        height: auto;
    }
    #details {
        transform: translateY(500%);
    }
    h1 {
        text-align: center;
        transform: translateY(200%);
    }
    #hamburger {
        align-items: center;
        background-color: #FFFFFF;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
    }
    #tools {
        text-align: center;
        color: #EB5428;
    }
}

/* MEDIUM DISPLAYS */
/* @media screen and (max-width: 1270px) {

} */

/* LARGE DISPLAYS */
/* @media screen and (min-width: 1270px) {

} */