@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: auto;
}