@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

#avatar {
    text-align: center;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    grid-area: avatar;
}
#avatar a {
    display: flex;
    flex-direction: column;
    color: #000000;
}
#avatar svg {
    margin: 0 auto;
}
#chefs_tools {
    text-align: center;
    background-color: #EB5428;
    grid-area: chefsTools;
}
dd {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#details {
    grid-area: details;
}
#directions {
    grid-area: directions;
}
#dishes {
    background-color: #7ABFBF;
    grid-area: dishes;
}
#dishes img {
    position: relative;
    left: 10px;
    width: 25%;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#dishes h2 {
    grid-area: dishTitle;
}
footer {
    grid-area: footer;
}
#guacamole {
    grid-area: guacamole;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
header {
    grid-area: header;
}
html {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
#ingredients {
    grid-area: ingredients;
}
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#main_pic {
    grid-area: mainPic;
}
#main_text {
    grid-area: mainText;
}
menu {
    list-style-type: none;
}
#menu {
    font-family: 'Bebas Neue', sans-serif;
    grid-area: menu;
}
menu a {
    font-family: 'Bebas Neue', sans-serif;
    color: #EB5428;
    text-decoration: none;
}
#MexicanRice {
    grid-area: MexicanRice;
}
.nav {
    box-shadow: 0 2px 0 0 rgba(10, 10, 10, .08);
}
.rating {
    font-weight: bold;
}
#salsa {
    grid-area: salsa;
}
#search {
    grid-area: search;
}
#search input {
    border: 2px solid #EB5428;
}
#search svg {
    background-color: #EB5428;
}
#socials a {
    font-family: 'Bebas Neue', sans-serif;
    color: #EB5428;
}
#socials li {
    padding: 10px;
}
#socials ul{
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
#tools {
    grid-area: tools;
}
#tools a {
    font-family: 'Bebas Neue', sans-serif;
}
#tortillas {
    grid-area: tortillas;
}

/* SMALL DISPLAYS */
@media screen and (max-width: 490px) {
    #avatar {
        width: 25%;
        height: 4.1em;
    }
    #chefs_tools {
        position: fixed;
        top: 0;
        left: 25%;
        right: 25%;
        height: auto;
    }
    #details {
        transform: translateY(440%);
    }
    h1 {
        text-align: center;
        transform: translateY(275%);
    }
    #hamburger {
        align-items: center;
        background-color: #FFFFFF;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 4.1em;
    }
    #ingredients{
        transform: translateY(70%);
    }
    #main_pic {
        transform: translateY(-20%);
    }
    #main_text {
        transform: translateY(-60%);
    }
    #menu img {
        display: none;
    }
    #search {
        display: flex;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 20%;
        right: 20%;
    }
    #search input {
        height: 2em;
        width: 20em;
    }
    #search svg {
        height: 2.39em;
        width: 3.5em;
    }
    #tools {
        text-align: center;
        color: #EB5428;
        transform: translateY(-340%);
    }
}

/* MEDIUM DISPLAYS */
@media screen and (min-width: 491px) and (max-width: 1270px) {
    /* aside {
        display: flex;
    } */
    /* aside h3, aside p, aside svg {
        translate: 120px 10px;
    } */
    #avatar {
        right: 5px;
        width: 3em;
        transform: translateY(10%);
    }
    #chefs_tools {
        position: fixed;
        top: 0;
        left: 0;
        width: 4em;
    }
    #details {
        transform: translateY(425%);
        text-align: center;
    }
    #details dl {
        display: inline;
    }
    #directions {
        transform: translateY(20%);
    }
    #dishes {
        transform: translateY(10%);
        display: grid;
        grid-template-areas: 
        "dishTitle dishTitle"
        "MexicanRice salsa"
        "guacamole tortillas";
    }
    #hamburger {
        display: none;
    }
    h1 {
        transform: translateY(270%);
    }
    #ingredients {
        transform: translateY(20%);
    }
    #main_pic {
        transform: translateY(-29%);
        z-index: -1;
    }
    #main_text {
        transform: translateY(-105%);
    }
    menu {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    #menu {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #menu img {
        display: flex;
        flex-direction: row;
        height: 40px;
        width: auto;
    }
    menu li {
        transform: translateY(110%);
        text-align: center;
        padding: 0 2.1%;
    }
    /* .mids {
        display: grid;
        grid-template-areas: 
        "details details"
        "ingredients directions";
    } */
    .nav #search {
        z-index: 2;
    }
    #search {
        justify-content: right;
        display: flex;
        margin: 0 auto;
        position: fixed;
        top: 20px;
        width: 80%;
    }
    #socials {
        translate: 80px 60px;
    }
    #socials a {
        display: flex;
        flex-direction: column;
    }
    #tools {
        justify-content: center;
        position: relative;
        display: flex;
        width: 100%;
        transform: translateY(-258%);
        background-color: rgba(255, 255, 255, .5);
        z-index: 1;
    }
    #tools a {
        color: #EB5428;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 20%;
    }
    footer {
        align-items: center;
    }
    footer img {
        width: 25%;
        translate: 50px -140px;
    }
    footer h3 {
        text-align: center;
        translate: -128px 100px;
    }
}

/* LARGE DISPLAYS */
@media screen and (min-width: 1271px) {
    /* body {
        display: grid;
        grid-template-areas: 
        "chefsTools menu avatar"
        "search search search"
        "header header header"
    } */
    #chefs_tools {
        position: absolute;
        top: 0;
    }
    #details {
        background-color: #000000;
        color: #7ABFBF;
    }
    #details dl {
        display: flex;
        flex-direction: row;
    }
    footer {
        width: 30%;
    }
    header {
        translate: 20px 50px;
    }
    #main_pic {
        width: 35%;
        translate: 100px 20px;
    }
    #menu {
        position: absolute;
        top: 0;
    }
    #menu img {
        width: 8%;
        display: flex;
    }
    #tools {
        display: flex;
        flex-direction: column;
    }
}