@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

menu {
    list-style-type: none;
}

menu svg, menu img {
    width: 10%;
    height: auto;
}

footer img {
    width: 20%;
    height: auto;
    max-width: 200px;
}

footer p {
    font-weight: bold;
}