@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    background-color: #F2F2F2;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

menu {
    list-style-type: none;
}


menu svg, menu img {
    width: 10%;
    height: auto;
}

#avatar {
    text-align: center;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
}
#menu {
    grid-area: menu;
}
#search {
    grid-area: search;
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: -1;
}
#search input {
    border: 2px solid #EB5428;
}
#search svg {
    background-color: #EB5428;
}
#intro {
    grid-area: intro;
}
#tools {
    grid-area: tools;
}
#main_pic {
    grid-area: main_pic;
}
#main_text {
    grid-area: main_text;
}
#details {
    grid-area: details;
}
#ingredients {
    grid-area: ingredients;
}
#directions {
    grid-area: directions;
}
#dishes {
    grid-area: dishes;
}
#socials {
    grid-area: socials;
}
#chefs_tools {
    padding: 5px;
    background-color: #EB5428;
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    grid-area: footer;
}

footer img {
    width: 20%;
    height: auto;
    max-width: 200px;
}

footer p {
    font-weight: bold;
}

@media screen and (max-width: 486px) {
    /* html {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "menu"
        "search"
        "intro"
        "tools"
        "main_pic"
        "main_text"
        "details"
        "ingredients"
        "directions"
        "dishes"
        "socials"
        "footer";
    } */

    #avatar {
        width: 25%;
        padding: 5px 0;
    }
    #chefs_tools {
        text-align: center;
        padding: 5px;
        background-color: #EB5428;
        position: fixed;
        top: 0;
        left: 25%;
        right: 25%;
        width: auto;
    }
    #details {
        transform: translateY(110px);
    }
    #directions {
        transform: translateY(110px);
    }
    #dishes {
        transform: translateY(110px);
    }
    #h1 {
        transform: translateY(130px);
        text-align: center;
    }
    #ingredients {
        transform: translateY(110px);
    }
    menu li {
        display: none;
    }
    #main_pic {
        transform: translateY(18%);
    }
    #main_text {
        transform: translateY(120px);
    }
    #menu a {
        text-align: center;
        background-color: #FFFFFF;
        width: 25%;
        height: auto;
        padding: 5px 0;
        position: fixed;
        top: 0;
        left: 0;
    }
    #menu p {
        margin: 0 auto;
        font-size: 1em;
        font-weight: bold;
    }
    #socials {
        text-align: center;
        transform: translateY(110px);
    }
    #socials svg {
        padding: 0 1.3em;
    }
    #tools {
        display: flex;
        text-align: center;
        transform: translateY(125px);
    }
    #tools a {
        color: #EB5428;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #tools svg {
        padding: 0 1.5em;
    }
    #tools p {
        font-size: .75em;
        margin: 0 auto 5px auto;
    }
    #search {
        top: 90px;
        left: 20%;
        right: 20%;
    }
    #search input {
        transform: translateY(-40%);
        width: 78%;
        height: 30px;
    }
    #search svg {
        transform: translateY(5%);
        margin: 0 auto;
    }
    footer {
        transform: translateY(110px);
    }
    footer p {
        text-align: center;
    }
    footer img {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1300px) {
    #tools {
        display: flex;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1301px) {

}